content/api/booking/schemas/booking-v1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://www.bring.no/booking/"
           xmlns="http://www.bring.no/booking/" xmlns:tns="http://www.bring.no/booking/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="bookingRequest" type="BookingRequestType"/>
    <xs:element name="bookingResponse" type="BookingResponseType"/>
    <xs:element name="cargoInformation">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="numberOfPackages" type="xs:int"/>
                <xs:element name="weightInGrams" type="xs:int"/>
                <xs:element name="volumeInDm3" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="customerInformation">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customerNumber" type="xs:string"/>
                <xs:element name="companyName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="customersRequest" type="CustomersRequestType"/>
    <xs:element name="customersResponse" type="CustomersResponseType"/>
    <xs:element name="parcelsInformation">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="numberOfPackages" type="xs:int"/>
                <xs:element name="numberOfPostContainers" type="xs:int"/>
                <xs:element name="numberOfPallets" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="pickupAddress">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="street" type="xs:string"/>
                <xs:element name="postalCode" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="phoneNumber" type="xs:string"/>
                <xs:element name="city" type="xs:string"/>
                <xs:element name="contactName" type="xs:string" minOccurs="0"/>
                <xs:element name="messageToDriver" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="pickupConfirmation" type="PickupConfirmationType"/>
    <xs:element name="pickupDetails">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="numberOfPackages" type="xs:int"/>
                <xs:element name="numberOfPostContainers" type="xs:int" minOccurs="0"/>
                <xs:element name="numberOfPallets" type="xs:int" minOccurs="0"/>
                <xs:element name="weightInGrams" type="xs:int" minOccurs="0"/>
                <xs:element name="volumeInDm3" type="xs:decimal" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="pickupOrderRequest" type="PickupOrderRequestType"/>
    <xs:element name="pickupOrderResponse" type="PickupOrderResponseType"/>
    <xs:complexType name="BookingRequestType">
        <xs:all>
            <xs:element name="schemaVersion" type="xs:int"/>
            <xs:element name="clientUrl" type="xs:string" minOccurs="0"/>
            <xs:element name="consignments">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="consignment" type="ConsignmentRequestType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="testIndicator" type="xs:boolean" use="required"/>
    </xs:complexType>
    <xs:complexType name="ConsignmentRequestType">
        <xs:sequence>
            <xs:element name="shippingDateTime" type="xs:dateTime"/>
            <xs:element name="customerSpecifiedDeliveryDateTime" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="parties" type="PartiesRequestType"/>
            <xs:element name="product" type="ProductRequestType"/>
            <xs:element name="purchaseOrder" type="PurchaseOrderRequestType" minOccurs="0"/>
            <xs:element name="packages" type="PackagesRequestType" minOccurs="0"/>
            <xs:element name="packageGroups" type="PackageGroupsRequestType" minOccurs="0"/>
            <xs:element name="generateQrCodes" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="correlationId" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="PartiesRequestType">
        <xs:all>
            <xs:element name="sender" type="PartyRequestType"/>
            <xs:element name="recipient" type="PartyRequestType"/>
            <xs:element name="consignor" type="PartyRequestType" minOccurs="0"/>
            <xs:element name="consignee" type="PartyRequestType" minOccurs="0"/>
            <xs:element name="pickupPoint" type="PickupPointRequestType" minOccurs="0"/>
            <xs:element name="importer" type="PartyRequestType" minOccurs="0"/>
            <xs:element name="returnTo" type="PartyRequestType" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="PartyRequestType">
        <xs:all>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="addressLine" type="xs:string"/>
            <xs:element name="addressLine2" type="xs:string" minOccurs="0"/>
            <xs:element name="postalCode" type="xs:string" minOccurs="0"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="countryCode" type="xs:string"/>
            <xs:element name="reference" type="xs:string" minOccurs="0"/>
            <xs:element name="additionalAddressInfo" type="xs:string" minOccurs="0"/>
            <xs:element name="vatNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="contact" type="ContactRequestType" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="ContactRequestType">
        <xs:all>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
            <xs:element name="email" type="xs:string" minOccurs="0"/>
            <xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="PickupPointRequestType">
        <xs:all>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="countryCode" type="xs:string"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="ProductRequestType">
        <xs:all>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="nonStandardCourierProductCode" type="xs:string" minOccurs="0"/>
            <xs:element name="customerNumber" type="xs:string"/>
            <xs:element name="services" type="ServicesRequestType" minOccurs="0"/>
            <xs:element name="additionalServices" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="additionalService" type="AdditionalServiceRequestType" minOccurs="0"
                                    maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="messageForRecipient" type="xs:string" minOccurs="0"/>
            <xs:element name="whoPaysInvoice" type="whoPaysInvoice" minOccurs="0"/>
            <xs:element name="incotermRule" type="incotermRule" minOccurs="0"/>
            <xs:element name="ediCustomsDeclarations" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="natureOfTransaction" type="NatureOfTransaction"/>
                        <xs:element name="otherNatureOfTransactionDescription" type="xs:string"/>
                        <xs:element name="ediCustomsDeclaration" type="EDICustomsDeclarationRequestType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="ServicesRequestType">
        <xs:all>
            <xs:element name="recipientNotification" type="RecipientNotificationRequestType" minOccurs="0"/>
            <xs:element name="quickPackEnvelope" type="xs:string" minOccurs="0"/>
            <xs:element name="cashOnDelivery" type="CashOnDeliveryRequestType" minOccurs="0"/>
            <xs:element name="deliveryOption" type="xs:string" minOccurs="0"/>
            <xs:element name="flexDelivery" type="FlexDeliveryRequestType" minOccurs="0"/>
            <xs:element name="deliveryIndoors" type="DeliveryIndoorsRequestType" minOccurs="0"/>
            <xs:element name="phoneNotification" type="xs:string" minOccurs="0"/>
            <xs:element name="nonFreeze" type="xs:string" minOccurs="0"/>
            <xs:element name="dangerousGoods" type="DangerousGoodsRequestType" minOccurs="0"/>
            <xs:element name="express" type="xs:string" minOccurs="0"/>
            <xs:element name="advisering" type="xs:string" minOccurs="0"/>
            <xs:element name="simpleDelivery" type="xs:string" minOccurs="0"/>
            <xs:element name="insurance" type="xs:string" minOccurs="0"/>
            <xs:element name="saturdayDelivery" type="xs:string" minOccurs="0"/>
            <xs:element name="letterNotification" type="xs:string" minOccurs="0"/>
            <xs:element name="eveningDelivery" type="xs:string" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="RecipientNotificationRequestType">
        <xs:all>
            <xs:element name="email" type="xs:string" minOccurs="0"/>
            <xs:element name="mobile" type="xs:string" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="CashOnDeliveryRequestType">
        <xs:all>
            <xs:element name="accountNumber" type="xs:string"/>
            <xs:element name="accountType" type="AccountType" minOccurs="0"/>
            <xs:element name="amount" type="xs:double"/>
            <xs:element name="currencyCode" type="xs:string"/>
            <xs:element name="message" type="CashOnDeliveryMessageRequestType" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="CashOnDeliveryMessageRequestType">
        <xs:all>
            <xs:element name="value" type="xs:string"/>
            <xs:element name="type" type="MessageTypeRequestType"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="FlexDeliveryRequestType">
        <xs:sequence>
            <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeliveryIndoorsRequestType">
        <xs:sequence>
            <xs:element name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DangerousGoodsRequestType">
        <xs:all>
            <xs:element name="containerId" type="xs:string" minOccurs="0"/>
            <xs:element name="weightInGrams" type="xs:int"/>
            <xs:element name="unNumber" type="xs:string"/>
            <xs:element name="commodity" type="xs:string"/>
            <xs:element name="packingGroup" type="xs:string" minOccurs="0"/>
            <xs:element name="dangerClass" type="xs:string"/>
            <xs:element name="tunnelRestrictionCode" type="xs:string" minOccurs="0"/>
            <xs:element name="safetyMarkCode" type="xs:string" minOccurs="0"/>
            <xs:element name="factor" type="xs:int" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="AdditionalServiceRequestType">
        <xs:all>
            <xs:element name="id" type="AdditionalServiceCodeType"/>
            <xs:element name="email" type="xs:string" minOccurs="0"/>
            <xs:element name="mobile" type="xs:string" minOccurs="0"/>
            <xs:element name="message" type="xs:string" minOccurs="0"/>
            <xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="accountType" type="AccountType" minOccurs="0"/>
            <xs:element name="amount" type="xs:double" minOccurs="0"/>
            <xs:element name="currencyCode" type="xs:string" minOccurs="0"/>
            <xs:element name="codMessage" type="CashOnDeliveryMessageRequestType" minOccurs="0"/>
            <xs:element name="containerId" type="xs:string" minOccurs="0"/>
            <xs:element name="weightInGrams" type="xs:int" minOccurs="0"/>
            <xs:element name="unNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="commodity" type="xs:string" minOccurs="0"/>
            <xs:element name="packingGroup" type="xs:string" minOccurs="0"/>
            <xs:element name="dangerClass" type="xs:string" minOccurs="0"/>
            <xs:element name="tunnelRestrictionCode" type="xs:string" minOccurs="0"/>
            <xs:element name="safetyMarkCode" type="xs:string" minOccurs="0"/>
            <xs:element name="factor" type="xs:int" minOccurs="0"/>
            <xs:element name="limitedQuantitiesGrossWeight" type="xs:int" minOccurs="0"/>
            <xs:element name="numberOfItems" type="xs:int" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="PurchaseOrderRequestType">
        <xs:sequence>
            <xs:element name="purchaseOrderNumber" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PackagesRequestType">
        <xs:sequence>
            <xs:element name="package" type="PackageRequestType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PackageRequestType">
        <xs:all>
            <xs:element name="weightInKg" type="xs:double" minOccurs="0"/>
            <xs:element name="goodsDescription" type="xs:string" minOccurs="0"/>
            <xs:element name="volumeInDm3" type="xs:double" minOccurs="0"/>
            <xs:element name="dimensions" type="MeasurementsRequestType" minOccurs="0"/>
            <xs:element name="containerId" type="xs:string" minOccurs="0"/>
            <xs:element name="packageType" type="xs:string" minOccurs="0"/>
            <xs:element name="numberOfItems" type="xs:int" minOccurs="0"/>
            <xs:element name="isStackable" type="xs:boolean" minOccurs="0"/>
            <xs:element name="numberOfPallets" type="xs:int" minOccurs="0"/>
            <xs:element name="loadMeters" type="xs:double" minOccurs="0"/>
        </xs:all>
        <xs:attribute name="correlationId" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="MeasurementsRequestType">
        <xs:all>
            <xs:element name="heightInCm" type="xs:int"/>
            <xs:element name="widthInCm" type="xs:int"/>
            <xs:element name="lengthInCm" type="xs:int"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="PackageGroupsRequestType">
        <xs:sequence>
            <xs:element name="packageGroup" type="PackageGroupRequestType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PackageGroupRequestType">
        <xs:all>
            <xs:element name="totalWeightInKg" type="xs:double"/>
            <xs:element name="goodsDescription" type="xs:string" minOccurs="0"/>
            <xs:element name="volumeInDm3" type="xs:double" minOccurs="0"/>
            <xs:element name="totalDimensions" type="MeasurementsRequestType" minOccurs="0"/>
            <xs:element name="numberOfPackages" type="xs:int"/>
        </xs:all>
        <xs:attribute name="correlationId" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="EDICustomsDeclarationRequestType">
        <xs:sequence>
            <xs:element name="quantity" type="xs:int"/>
            <xs:element name="goodsDescription" type="xs:string"/>
            <xs:element name="customsArticleNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="itemNetWeightInKg" type="xs:double"/>
            <xs:element name="tarriffLineAmount" type="xs:double"/>
            <xs:element name="currency" type="xs:string"/>
            <xs:element name="countryOfOrigin" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BookingResponseType">
        <xs:sequence>
            <xs:element name="consignments">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="consignment" type="ConsignmentResponseType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConsignmentResponseType">
        <xs:all>
            <xs:element name="confirmation" type="ConfirmationResponseType" minOccurs="0"/>
            <xs:element name="errors" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="error" type="ErrorResponseType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="correlationId" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="ConfirmationResponseType">
        <xs:all>
            <xs:element name="consignmentNumber" type="xs:string"/>
            <xs:element name="productSpecificData" type="ProductSpecificDataResponseType" minOccurs="0"/>
            <xs:element name="links" type="LinksResponseType"/>
            <xs:element name="dateAndTimes" type="DtoDateAndTimesResponseType"/>
            <xs:element name="packages">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="package" type="PackageResponseType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="ProductSpecificDataResponseType">
        <xs:all>
            <xs:element name="upsShipmentNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="upsTrackingNumber" type="xs:string" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="LinksResponseType">
        <xs:all>
            <xs:element name="labels" type="xs:string"/>
            <xs:element name="labelArchiveUrl" type="xs:string" minOccurs="0"/>
            <xs:element name="waybill" type="xs:string" minOccurs="0"/>
            <xs:element name="tracking" type="xs:string"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="DtoDateAndTimesResponseType">
        <xs:all>
            <xs:element name="earliestPickup" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="expectedDelivery" type="xs:dateTime" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="PackageResponseType">
        <xs:sequence>
            <xs:element name="packageNumber" type="xs:string"/>
            <xs:element name="labelFreeCode" type="xs:string" minOccurs="0"/>
            <xs:element name="qrCodeLink" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="correlationId" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="ErrorResponseType">
        <xs:all>
            <xs:element name="uniqueId" type="xs:string"/>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="messages">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="message" type="MessageResponseType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="consignmentCorrelationId" type="xs:string"/>
        <xs:attribute name="packageCorrelationId" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="MessageResponseType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="lang" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="CustomersRequestType">
        <xs:all/>
    </xs:complexType>
    <xs:complexType name="CustomersResponseType">
        <xs:sequence>
            <xs:element name="customers">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="customer" type="CustomerResponseType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CustomerResponseType">
        <xs:all>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="customerNumber" type="xs:string"/>
            <xs:element name="countryCode" type="xs:string"/>
            <xs:element name="products">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="product" type="xs:string" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="PickupOrderRequestType">
        <xs:sequence>
            <xs:element name="service" type="xs:string" minOccurs="0"/>
            <xs:element ref="customerInformation"/>
            <xs:element ref="pickupAddress"/>
            <xs:element name="pickupDate" type="xs:date"/>
            <xs:element name="pickupIsReadyAtTime" type="xs:time" minOccurs="0"/>
            <xs:element name="pickupTimeZone" type="xs:string" minOccurs="0"/>
            <xs:element ref="parcelsInformation" minOccurs="0"/>
            <xs:element name="countryCode" type="xs:string"/>
            <xs:element ref="cargoInformation" minOccurs="0"/>
            <xs:element name="parcelsInternationalInformation" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="numberOfPackages" type="xs:int"/>
                        <xs:element name="numberOfPallets" type="xs:int"/>
                        <xs:element name="weightInGrams" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element ref="pickupDetails" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="testIndicator" type="xs:boolean" use="required"/>
    </xs:complexType>
    <xs:complexType name="PickupOrderResponseType">
        <xs:all>
            <xs:element ref="pickupConfirmation" minOccurs="0"/>
            <xs:element name="errors" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="error" type="PickupApiErrorResponseType" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="PickupConfirmationType">
        <xs:sequence>
            <xs:element name="status" type="xs:string"/>
            <xs:element name="earliestPickupDate" type="xs:dateTime"/>
            <xs:element name="latestPickupDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="url" type="xs:string" minOccurs="0"/>
            <xs:element name="packageNumber" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PickupApiErrorResponseType">
        <xs:all>
            <xs:element name="uniqueId" type="xs:string"/>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="messages">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="message" type="PickupApiMessageResponseType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="consignmentCorrelationId" type="xs:string"/>
        <xs:attribute name="packageCorrelationId" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="PickupApiMessageResponseType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="lang" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="AccountType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="bankgiro"/>
            <xs:enumeration value="plusgiro"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageTypeRequestType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="kid"/>
            <xs:enumeration value="text"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AdditionalServiceCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1000"/>
            <xs:enumeration value="POSTOPPKRAV"/>
            <xs:enumeration value="2084"/>
            <xs:enumeration value="EVARSLING"/>
            <xs:enumeration value="0041"/>
            <xs:enumeration value="SIMPLE_DELIVERY"/>
            <xs:enumeration value="0068"/>
            <xs:enumeration value="INSURANCE"/>
            <xs:enumeration value="1062"/>
            <xs:enumeration value="LORDAGSUTKJORING"/>
            <xs:enumeration value="0015"/>
            <xs:enumeration value="EVE_DELIVERY"/>
            <xs:enumeration value="2086"/>
            <xs:enumeration value="2141"/>
            <xs:enumeration value="NON_FREEZE"/>
            <xs:enumeration value="1142"/>
            <xs:enumeration value="PHONENOTIFICATION"/>
            <xs:enumeration value="1245"/>
            <xs:enumeration value="DANGEROUS_GOODS"/>
            <xs:enumeration value="OX_EXPRESS"/>
            <xs:enumeration value="ADVISERING"/>
            <xs:enumeration value="DELIVERY_INDOOR"/>
            <xs:enumeration value="FLEX_DELIVERY"/>
            <xs:enumeration value="ENVELOPE"/>
            <xs:enumeration value="SOSIAL_KONTROLL"/>
            <xs:enumeration value="0003"/>
            <xs:enumeration value="1073"/>
            <xs:enumeration value="1081"/>
            <xs:enumeration value="1083"/>
            <xs:enumeration value="1094"/>
            <xs:enumeration value="1122"/>
            <xs:enumeration value="1123"/>
            <xs:enumeration value="1124"/>
            <xs:enumeration value="1125"/>
            <xs:enumeration value="1127"/>
            <xs:enumeration value="1128"/>
            <xs:enumeration value="1133"/>
            <xs:enumeration value="1134"/>
            <xs:enumeration value="1139"/>
            <xs:enumeration value="1141"/>
            <xs:enumeration value="1280"/>
            <xs:enumeration value="1288"/>
            <xs:enumeration value="1342"/>
            <xs:enumeration value="2012"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="whoPaysInvoice">
        <xs:restriction base="xs:string">
            <xs:enumeration value="sender"/>
            <xs:enumeration value="recipient"/>
            <xs:enumeration value="thirdParty"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="incotermRule">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DDP"/>
            <xs:enumeration value="DAP"/>
            <xs:enumeration value="FCA"/>
            <xs:enumeration value="EXW"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NatureOfTransaction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SALE_OF_GOODS"/>
            <xs:enumeration value="RETURNED_GOODS"/>
            <xs:enumeration value="GIFT"/>
            <xs:enumeration value="COMMERCIAL_SAMPLE"/>
            <xs:enumeration value="DOCUMENTS"/>
            <xs:enumeration value="OTHER"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
